@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 95%;
    --foreground: 220 25% 10%;

    --card: 210 70% 98%;
    --card-foreground: 220 25% 10%;

    --popover: 210, 100%, 99%;
    --popover-foreground: 220 25% 10%;

    --primary: 234 45% 55%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 210, 100%, 99%;
    --secondary-foreground: 220 25% 10%;

    --tertiary: 210 70% 98%;
    --tertiary-foreground: 220 25% 10%;

    --muted: 220 15% 85%;
    --muted-foreground: 220 10% 40%;

    --accent: 210, 100%, 99%;
    --accent-foreground: 220 25% 10%;

    --secondary-accent: 210, 34%, 97%;
    --secondary-accent-foreground: 220 25% 10%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 220 20% 97%;

    --border: 220 15% 85%;
    --input: 0 0% 100%;
    --ring: 220 70% 50%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 280 70% 50%;
    --chart-3: 30 80% 50%;
    --chart-4: 160 70% 40%;
    --chart-5: 340 70% 50%;
  }

  .dark {
    --background: 240 5% 4%;
    --foreground: 210 40% 96.1%;

    --card: 234 7% 12%;
    --card-foreground: 210 40% 96.1%;

    --popover: 234 8% 7%;
    --popover-foreground: 210 40% 96.1%;

    --primary: 234 45% 55%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 234 8% 7%;
    --secondary-foreground: 210 40% 96.1%;

    --tertiary: 234 7% 12%;
    --tertiary-foreground: 210 40% 96.1%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 234 8% 7%;
    --accent-foreground: 210 40% 96.1%;

    --secondary-accent: 234 13.5% 15%;
    --secondary-accent-foreground: 210 40% 96.1%;

    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 0% 95%;

    --border: 240 3.7% 15%;
    --input: 234 8% 7%;
    --ring: 234 56% 59%;

    --chart-1: 234 56% 59%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 234 30% 25%;
    --chart-5: 160 60% 45%;
  }

  .blue {
    --background: 220 40% 8%;
    --foreground: 220 20% 98%;

    --card: 220 40% 11%;
    --card-foreground: 220 20% 98%;

    --popover: 220 40% 8%;
    --popover-foreground: 220 20% 98%;

    --primary: 234 45% 55%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 220 30% 11%;
    --secondary-foreground: 220 20% 98%;

    --tertiary: 220 40% 14%;
    --tertiary-foreground: 220 20% 98%;

    --muted: 220 30% 16%;
    --muted-foreground: 220 20% 70%;

    --accent: 220 30% 11%;
    --accent-foreground: 220 20% 98%;

    --secondary-accent: 220 35% 16%;
    --secondary-accent-foreground: 220 20% 98%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 220 20% 98%;

    --border: 220 30% 20%;
    --input: 220 30% 11%;
    --ring: 220 80% 55%;

    --chart-1: 220 80% 55%;
    --chart-2: 180 70% 45%;
    --chart-3: 40 80% 55%;
    --chart-4: 280 70% 55%;
    --chart-5: 340 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scroll-bar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/20 dark:scrollbar-thumb-white/20;
  }
  .spin-hide {
    appearance: textfield;
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
