@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4.8% 98.6%;
    --foreground: 240 10% 16%;

    --card: 234 20% 96.6%;
    --card-foreground: 240 10% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 16%;

    --primary: 234 56% 59%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 240 10% 16%;

    --tertiary: 234 20% 96.6%;
    --tertiary-foreground: 240 10% 16%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 234 56% 96%;
    --accent-foreground: 240 10% 16%;

    --secondary-accent: 240 13.5% 90%;
    --secondary-accent-foreground: 240 10% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 96.1%;

    --border: 240 5.9% 90%;
    --input: 0 0% 100%;
    --ring: 234 56% 59%;

    --radius: 0.5rem;

    --chart-1: 234 56% 59%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 234 30% 25%;
    --chart-5: 160 60% 45%;
  }

  .dark {
    --background: 240 5% 4%;
    --foreground: 210 40% 96.1%;

    --card: 234 7% 12%;
    --card-foreground: 210 40% 96.1%;

    --popover: 234 8% 7%;
    --popover-foreground: 210 40% 96.1%;

    --primary: 234 45% 55%;
    --primary-foreground: 210 40% 96.1%;

    --secondary: 234 8% 7%;
    --secondary-foreground: 210 40% 96.1%;

    --tertiary: 234 7% 12%;
    --tertiary-foreground: 210 40% 96.1%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 234 8% 7%;
    --accent-foreground: 210 40% 96.1%;

    --secondary-accent: 234 13.5% 15%;
    --secondary-accent-foreground: 210 40% 96.1%;

    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 0% 95%;

    --border: 240 3.7% 15%;
    --input: 234 8% 7%;
    --ring: 234 56% 59%;

    --chart-1: 234 56% 59%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 234 30% 25%;
    --chart-5: 160 60% 45%;
  }

  .blue {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --tertiary: 222.2 84% 4.9%;
    --tertiary-foreground: 0 0% 95%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --secondary-accent: 234 13.5% 16%;
    --secondary-accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scroll-bar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/20 dark:scrollbar-thumb-white/20;
  }
}
